:root {
    --white: #ffffff;
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: Dark blue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
}

body {
    background: var(--lightGray);
    background-size: 1440px;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    
}

.container {
    align-items: center;
    max-width: 320px;
    max-height: 497px;
    border: 1px solid black;
    background: var(--white);
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;

}

img {
    height: 288px;
    width: 288px;
    align-items: center;
    border: 10px solid white;
    border-radius: 16px;
    margin-top: 10px;
    margin-left: auto;
}

.textbox {
    margin-left: 16px;
    margin-right: 16px;
    width: 288px;
    width: 256px;
}

/* Text Formats */

h1 {
    color: var(--darkBlue);
    font-size: 22px;
    font-family: 'Outfit';
    text-align: center;
    font-weight: 700;
    
}

p {
    font-size: 15px;
    //letter-spacing: 0.1875px;
    font-weight: 400px;
    font-family: 'Outfit';
    color: var(--grayishBlue);   
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 19px;
}

